
.CarouselContainer {
    margin-bottom: 80px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 80px 0px;
}

.Carousel {
    padding: 20px;
    background-color: white;
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    height: inherit;
}
