.Contact {
    margin: 40px 12vw;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ContactBlurb {
    padding-bottom: 65px;
}

.ContactImage {
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

.ContactImage img {
    object-fit: scale-down;
    width: 100%;
}

.Contact a {
    color: var(--tertiary-color);
}
.Contact a:hover { text-decoration: none; color: var(--secondary-color) }
.Contact a:active { text-decoration: none; }
.Contact a:link { text-decoration: none; }
.Contact a:visited { text-decoration: none; }

.Contact p {
    font-size: 1.25em;
    text-align: left;
}