.Gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-bottom: 100px;
}

.GalleryImageContainer {
    height: 300px;
    width: 300px;
    border: 2px solid var(--tertiary-color);
    display: flex;
    justify-content: center;
    background-color: var(--tertiary-color);

    /* background-color: magenta; */
}

.GalleryImage {
    max-height: 100%;
    max-width: 100%;
}