.SocialMediaLink {

}

.SocialMediaIcon {
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    display: flex;
}

.SocialMedia {
    height: 100%;
    flex: 1;
}

.SocialMediaImage {
    height: 50px;
    width: 50px;
}
